{{define "Index"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <style>
        #chat-box {
            width: 300px;
            height: 400px;
            border: 1px solid #ccc;
            overflow-y: scroll;
            margin-bottom: 10px;
        }
        #message-input {
            width: 100%;
            padding: 5px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 5px;
            margin-bottom: 10px;
        }
        #send-button {
            padding: 5px 10px;
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>
</head>
<body>
<div id="connection-box">
    <input type="text" id="username-input" placeholder="Digite seu nome...">
    <button id="connect-button">Conectar</button>
</div>
<div id="chat-box"></div>
<input type="text" id="message-input" placeholder="Digite sua mensagem...">
<button id="send-button">Enviar</button>

<script>
    const connectionBox = document.getElementById('connection-box');
    const chatBox = document.getElementById('chat-box');
    const messageInput = document.getElementById('message-input');
    const connectButton = document.getElementById('connect-button');
    const sendButton = document.getElementById('send-button');
    const usernameInput = document.getElementById('username-input');
    const ws = new WebSocket('ws://localhost:3000/ws');

    this.send = function (message, callback) {
        this.waitForConnection(function () {
            ws.send(message);
            if (typeof callback !== 'undefined') {
                callback();
            }
        }, 1000);
    };

    this.waitForConnection = function (callback, interval) {
        if (ws.readyState === 1) {
            callback();
        } else {
            var that = this;
            // optional: implement backoff for interval here
            setTimeout(function () {
                that.waitForConnection(callback, interval);
            }, interval);
        }
    };

    connectButton.addEventListener('click', function() {
        const username = usernameInput.value.trim();
        if (username !== '') {
            // Oculta o campo de conexão e mostra o campo de chat
            connectionBox.style.display = 'none';
            chatBox.style.display = 'block';
            messageInput.style.display = 'block';
            sendButton.style.display = 'block';

            const ws = new WebSocket('ws://localhost:3000/ws');
            if (ws.readyState !== 1){
                ws.onopen = function(event) {
                    console.log('Conectado ao servidor WebSocket.');
                    // Envie o nome de usuário para o servidor
                    ws.send(username);
                };
            }

            sendButton.addEventListener('click', function() {
                const message = messageInput.value.trim();
                console.log("entrou no evento sendButton")
                if (message !== '') {
                    console.log("message aqui---->", message)
                    ws.send(message);
                    messageInput.value = '';
                }
            });

            ws.onmessage = function(event) {
                const messageData = JSON.parse(event.data);
                const { date, name, data } = messageData;
                const formattedMessage = `[${date}] ${name}: ${data}`;

                const messageElement = document.createElement('div');
                messageElement.textContent = formattedMessage;
                messageElement.classList.add('message');
                chatBox.appendChild(messageElement);
                chatBox.scrollTop = chatBox.scrollHeight;
            };
            ws.onerror = function(error) {
                console.error('Erro na conexão WebSocket:', error);
            };
            ws.onclose = function(event) {
                console.log('Conexão WebSocket fechada.');
            };
        }
    });
    // sendButton.addEventListener('click', function() {
    //     // const ws = new WebSocket('ws://localhost:3000/ws');
    //     const message = messageInput.value.trim();
    //     console.log("entrou no evento sendButton")
    //     if (message !== '') {
    //        send(message, function (){})
    //         console.log("message aqui---->", message)
    //         // ws.send(message);
    //         messageInput.value = '';
    //     }
    // });

    function sendMessage() {
        const message = messageInput.value;
        if (message.trim() !== '') {
            const messageElement = document.createElement('div');
            messageElement.textContent = message;
            chatBox.appendChild(messageElement);
            chatBox.scrollTop = chatBox.scrollHeight;
            messageInput.value = '';
        }
    }

    messageInput.addEventListener('keypress', function(e) {
        if (e.key === 'Enter') {
            sendMessage();
        }
    });
</script>
</body>
</html>
{{end}}